.App {
  text-align: center;
}

code {
  background: #eee;
  color: #d04;
}

nav ul {
  padding: 0;
  display: flex;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  padding: 1em;
  background: #444;
  color: #eee;
}

nav ul li a.highlight {
  background: #777;
}
